@charset "UTF-8";
#slide01, #slide02{
   position: relative;
   margin: 0 auto;
   width: 1240px;
   height: 520px;
   overflow: hidden;
}
.slide_contents{
   width: 100%;
   height: 520px;
   overflow: hidden;
}

.tabs{
   position: absolute;
   bottom: 15px;
   left: 50%;
   margin-left: -200px;
   z-index: 500;
}
.tabs .left_tab, .tabs .right_tab{
   width: 200px;
   height: 34px;
   color: #fff;
   background-color: rgba(0,0,0,0.7);
   line-height: 34px;
   text-align: center;
   font-weight: bold;
   display: inline-block;
   margin-left: -4px;
}
.tabs a.selected{
   background-color: rgba(229,119,0,1);
}

.slide_contents ul{
   position: relative;
   width: 7440px;
   height: 520px;
}
.slide_contents ul li{
   width: 1240px;
   float:left;

}
.slide_contents ul li .wrap{
   position: relative;
}
.slide_contents ul li .wrap a{}
.slide_contents ul li .wrap a img{
   width: 100%;
   height: 520px;
}
/*상설전시 텍스트*/
#slide01 .text_Box{
   position: absolute;
   width: 100%;
   color: #ccc;
   z-index: 100;
   box-sizing: border-box;
}
.L1{
   padding-left: 128px !important;
   top: 218px !important;
}
.L2{
   padding-left: 72px !important;
   top: 218px !important;
}
.R1, .R2{
   padding-right: 72px !important;
   top: 218px !important;
   text-align: right !important;
}
#slide01 .text_title{
   display: block;
   margin-bottom: 12px;
   font-size: 36px;
   font-family: 'NanumMyeongjo';
   line-height: 100%;
   letter-spacing: -1px;
   color: inherit;
   font-weight: 600;
}
#slide01 .text_sub{
   display: block;
   margin: -5px 0 7px;
   font-style: normal;
   font-size: 18px;
   color: inherit;
   font-family: 'NanumMyeongjo';
}

/*특별전시 텍스트*/
#slide02 .text_Box {
   position: absolute;
   top: 192px;
   left: 0;
   width: 1080px;
   color: #ccc;
   padding: 0 80px;
}
.RR1{
   text-align: right !important;
}
.LL1{
   text-align: left !important;
}
.catTxt{
   display: inline-block;
   border: 2px solid #eee;
   padding: 4px 15px;
   font-size: 13px;
   margin-bottom: 10px;
   color: #eee;
}
#slide02 .text_title{
   display: block;
   margin-bottom: 16px;
   font-size: 54px;
   font-family: 'NanumMyeongjo';
   line-height: 100%;
   letter-spacing: -1px;
   color: #eee;
}
#slide02 .text_sub{
   display: block;
   margin: -5px 0 7px;
   font-style: normal;
   font-size: 24px;
   opacity: .65;
   color: #eee;
   font-family: 'NanumMyeongjo'
}
#slide02 .text_sub02{
   display: block;
   font-style: normal;
   font-size: 17px;
   color: #eee;
   font-family: "NanumGothic", "MS PGothic", Dotum, Arial, sans-serif;
}

/*이전/다음 버튼*/
.arrow{
   position: absolute;
   width: 46px;
   height: 53px;
   overflow: hidden;
   text-indent: -100px;
   top: 50%;
   margin-top: -26px;
   background: url(../images/btn_sld_arrow01.png) no-repeat;
}
.prev{
    left: 0;
    background-position: 0 0;
    z-index: 501;
}
.prev:hover{
   background-position: 0 -53px;
   z-index: 501;
}
.next{
   right: 0;
   background-position: -46px 0;
   z-index: 501;
}
.next:hover{
   background-position: -46px -53px;
   z-index: 501;
}

/*페이지버튼*/
.paging{
   text-align: right;
   position: absolute;
   top: 15px;
   right: 40px;
}
.paging li{
   display: inline-block;
   overflow: hidden;
}
.paging li a{
   position: relative;
   text-indent: 200px;
   display: block;
   width: 22px;
   height: 22px;
   overflow: hidden;
   background: url(../images/btn_paging.png) no-repeat 0 0;;
}
.paging li a:hover{
   background-position: 0 -22px;
}
.paging li a.active{
   background-position: 0 -22px;
}

.control{
   position: absolute;
   top: 15px;
   right: 20px;
}
.stop{
   display: block;
   width: 22px;
   height: 23px;
   overflow: hidden;
   text-indent: -80px;
   background: url(../images/btn_mainSlider_ctr.png) no-repeat 0 0;
}
.play{
   /*display: block;*/
   width: 22px;
   height: 23px;
   overflow: hidden;
   text-indent: -80px;
   background: url(../images/btn_mainSlider_ctr.png) no-repeat 0 -23px;
}
